:root {
    --dark--blue: #2e5266ff;
    --grey--blue: #6e8898ff;
    --light--grey: #9fb1bcff;
    --beach: #d3d0cbff;
}

.header-div-dashboard {
    background-image: url(../../../style/pictures/background-dashboard.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    height: 20rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 1;
    display: flex;
}

.header-h1 {
    color: black;
    transform: translate(50%, 0%) rotate(-52deg);
}

.outer-div-dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, minmax(0, 1fr)) 1fr;
    background-color: var(--dark--blue);
    height: 100vh;
}


/*  div-dashboard */

.div-dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, minmax(0, 1fr)) 1fr;
    border-radius: 3rem;
    background-color: var(--grey--blue);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    width: 55vw;
    height: 65vh;
    margin: 2rem;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


/*  display statistics  */

.display-statistics {
    width: 44rem;
    height: 30rem;
}

.display-statistics-inner-div {
    background-color: var(--light--grey);
    width: 100%;
    height: 30rem;
}

.Nav-Button {
    z-index: 100;
}