:root {
    --background--Body: #ffffff;
    --background--boxbackground--behind: #353535;
    --background--boxbackground--front: #1d1d1d;
    --background--TextColor: #c2c2c2;
    --background--fifth: #68586e;
}

body {
    background-color: var(--background--Body);
}

.background-image {
    background-image: url('../pictures/pxfuel.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.App {
    text-align: center;
}

.headline {
    background-image: url('../pictures/pxfuel.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 37em;
}

.headline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headlineH2 {
    color: var(--background--boxbackground--front);
    margin-top: 5rem;
}

.container {
    display: flex;
    justify-content: center;
}

.section--one {
    background-color: var(--background--boxbackground--behind);
    display: flex;
    justify-content: center;
    gap: 10%;
}

.Main--reading--div {
    border-radius: 30px;
    height: 100%;
}

.Repeated--div {
    width: 30vw;
    border: 1px solid transparent;
    border-radius: 30px;
    margin-bottom: 5%;
    background: var(--background--boxbackground--front);
}

h2,
h1,
h3,
p {
    font-family: 'Courier New', Courier, monospace;
    color: var(--background--TextColor);
}

.container-button {
    position: relative;
    z-index: 1;
}

.button-remove {
    all: unset;
    color: var(--background--Body);
    /* text */
    font: 700 1.125rem/1.2 'Courier New', Courier, monospace;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    /* size */
    padding: 0.85em;
    width: 12rem;
    /* Button styling */
    background: inherit;
    background-clip: padding-box;
    background: var(--background--boxbackground--behind);
    border-radius: 2em;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: 0.25s ease-out;
}

.button-remove:hover {
    transform: scale(1.1);
}

.button-remove:active {
    transform: scale(1);
}

.Footer {
    background-image: url('../pictures/Footer-background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}