.body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.Home-center {
    justify-items: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 8rem;
    width: 100vw;
    display: grid;
}

.Home1,
.Home2 {
    display: grid;
    margin: 0;
    padding: 0;
    border-radius: 30rem;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.Home1 {
    width: 80rem;
    height: 40rem;
    align-items: center;
}

.Home2 {
    background-image: url(../../style/pictures/Front-page-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70rem;
    height: 30rem;
}

.Home-welcome {
    margin-top: 30%;
}

.Home-background-welcome-header {
    border-radius: 50%;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 30px rgb(255, 255, 255);
}

h1.Home-welcome-h1 {
    font-size: 80px;
    color: var(--background--Body);
}

.pointer-for-nav-bar-outline-div {
    position: fixed;
    margin-left: 86vw;
    margin-top: 1%;
}

.pointer-for-nav-bar {
    position: fixed;
    height: 140px;
    width: 130px;
    background-image: url(../../style/pictures/pointer-nav-bar.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: rock-back-and-forth 2s infinite;
    transform-origin: 100% 100%;
}

@keyframes rock-back-and-forth {
    0% {
        transform: rotateZ(-20deg);
    }
    50% {
        transform: rotateZ(10deg);
    }
    100% {
        transform: rotateZ(-20deg);
    }
}