.body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.Home-center {
    justify-items: center;
    padding-top: 6rem;
    padding-bottom: 10rem;
    width: 100vw;
    display: grid;
}

.Home1,
.Home2 {
    background-color: #ffffff;
    display: grid;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.Home1 {
    box-shadow: 0 0px 5000px rgba(73, 73, 73, 0.5);
    border-radius: 20rem;
    width: 80rem;
    height: 39rem;
    align-items: center;
}

.Home2 {
    background-image: url(../../style/pictures/Front-page-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
    width: 70rem;
    height: 30rem;
    border-radius: 30rem;
}

.Home-welcome {
    margin-top: 30%;
}

.Home-background-welcome-header {
    border-radius: 50%;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 30px rgb(255, 255, 255);
    height: 8rem;
}

h1.Home-welcome-h1 {
    font-size: 80px;
    color: var(--background--Body);
    padding: 0;
    margin: 0;
}

@keyframes rock-back-and-forth {
    0% {
        transform: rotateZ(-20deg);
    }
    50% {
        transform: rotateZ(10deg);
    }
    100% {
        transform: rotateZ(-20deg);
    }
}