/* Combo */

.Temperature-outer-div,
.Humidity-outer-div,
.Light-outer-div {
    background-color: rgb(40, 40, 43);
    height: 70vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Temperature-inner-div,
.Humidity-inner-div,
.Light-inner-div {}


/* Temperature */

.Temperature-outer-div {}

.Temperature-inner-div {}


/* Humidity */

.Humidity-outer-div {}

.Humidity-inner-div {}


/* Light */

.Light-outer-div {}

.Light-inner-div {}